<div class="section" id="footer">
    <div class="container">

        <div class="row">

            <div class="col-sm-6">

                <p class="social">
                    <a href="https://github.com/bluemoon711" class="external github" data-animate-hover="shake" data-animate="fadeInUp">
                        <i class="fa fa-github-square"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/ying-fan-729bb816/" class="external linkedin" data-animate-hover="shake" data-animate="fadeInUp">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="mailto:yingcathyfan@gmail.com" class="email" data-animate-hover="shake" data-animate="fadeInUp">
                        <i class="fa fa-envelope"></i>
                    </a>
                </p>
            </div>


            <div class="col-sm-6">
                <p>&copy; YF Copyright 2018.</p>
            </div>

        </div>

    </div>

</div>