<div class="section text-gray" id="tools" data-animate="fadeInUp">
    <div class="container">
        <div class="col-md-12">
            <div class="mb20">
                <h2 class="title" data-animate="fadeInUp">I build with</h2>
            </div>
            <ul class="owl-carousel tools same-height-row" data-animate="fadeInUp">
                <li class="item">
                    <div class="tool same-height-always">
                        <div class="picture">
                            <img class="" alt="" src="img/html.png">
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="tool same-height-always">
                        <div class="picture">
                            <img class="" alt="" src="img/css.png">
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="tool same-height-always">
                        <div class="picture">
                            <img class="" alt="" src="img/js.png">
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="tool same-height-always">
                        <div class="picture">
                            <img class="" alt="" src="img/node.png">
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="tool same-height-always">
                        <div class="picture">
                            <img class="" alt="" src="img/react.png">
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="tool same-height-always">
                        <div class="picture">
                            <img class="" alt="" src="img/redux.png">
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="tool same-height-always">
                        <div class="picture">
                            <img class="" alt="" src="img/mongodb.jpg">
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="tool same-height-always">
                        <div class="picture">
                            <img class="" alt="" src="img/sql.png">
                        </div>
                    </div>
                </li>
            </ul>

        </div>

    </div>

</div>