<div class="section" id="references">
    <div class="container">
        <div class="col-sm-12">

            <div class="mb20">
                <h2 class="title" data-animate="fadeInUp">My work</h2>

                <p class="lead" data-animate="fadeInUp">I have worked on dozens of projects so I have picked only the latest for you.</p>
            </div>

            <ul id="filter" data-animate="fadeInUp">
                <li>
                    <a href="#" data-filter="group">Group Projects</a>
                </li>
                <li>
                    <a href="#" data-filter="single">Projects</a>
                </li>
                <li class="active">
                    <a href="#" data-filter="all">All</a>
                </li>
            </ul>

            <div id="detail">

                <span class="close">&times;</span>

                <div id="detail-slider"></div>

                <div class="text-center">
                    <h1 id="detail-title">&nbsp;</h1>
                </div>

                <div id="detail-content"></div>

            </div>
            <!-- Reference detail -->

            <div id="references-masonry" data-animate="fadeInUp">

                <div class="reference-item" data-category="group">
                    <div class="reference">
                        <a href="#">
                            <img src="img/portal1.png" class="img-responsive" alt="" />
                            <div class="overlay">
                                <h3 class="reference-title">Portal</h3>
                                <p>A website like the combination of hire.com and portfolium.com, specially designed for boot
                                    camp students.</p>
                            </div>
                        </a>

                        <div class="sr-only reference-description" data-images="img/portal1.png,img/portal2.png,img/portal3.png">
                            <p>Description: Users could sign up, log in and add their personal information in the profile, such
                                as: name, skills, projects, working experience and education history. And employers could
                                search ideal candidates from the search bar according to student's name.</p>

                            <p>Techniques: The website is built with React and Redux, scaffolded on LoopBack and NodeJs, using
                                MongoDB and mLab as database, styled with Bootstrap. It is used static ejs templates before
                                signing up. After logging in, the user interface is based on React and Redux. </p>

                            <p>My feedback: During this three-week group project, I learned so much and polished my skills a
                                lot. I initiated the Redux store of the website from scatch, set up the app and reducer before
                                figuring out how many components we would like to build. I learned to manipulate Redux forms.
                                Also practice to fetch users' data and patch data to the database.</p>

                            <p class="buttons">
                                <a class="btn btn-primary" href="references/portal">
                                    <i class=" fa fa-info-circle "></i> More details</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="reference-item " data-category="group">
                    <div class="reference ">
                        <a href="# ">
                            <img src="img/hh1.png " class="img-responsive " alt=" " />

                            <div class="overlay ">
                                <h3 class="reference-title">Hot Homes</h3>
                                <p>A housing-booking website like Airbnb.</p>
                            </div>
                        </a>

                        <div class="sr-only reference-description " data-images="img/hh1.png,img/hh2.jpg">
                            <p>Description: A visitor can search for available places but need to sign up as a user to make
                                the reservation. Hot Homes users may also become landlords to post their properties on the
                                website. After logging in Hot Homes, a user can view either his bookings as a traveler and/or
                                view his properties as a landlord.
                            </p>

                            <p>Techiniques: The website is built with React and Redux, scaffolded on LoopBack and NodeJs, using
                                MongoDB as database, styled with Bulma and LESS.</p>

                            <p>My feedback: This is one-week group project. I went through Git branch issue, conflicts on styling
                                and debuging. Learned a lot from team-members.</p>

                            <p class="buttons ">
                                <a class="btn btn-primary " href="references/hothomes">
                                    <i class="fa fa-info-circle "></i> More details</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="reference-item " data-category="single">
                    <div class="reference ">
                        <a href="# ">
                            <img src="img/moviefinder1.jpg " class="img-responsive " alt=" " />

                            <div class="overlay ">
                                <h3 class="reference-title ">Movie Finder</h3>
                                <p>A movie finder application using OMDB API.</p>
                            </div>
                        </a>

                        <div class="sr-only reference-description " data-images="img/moviefinder1.jpg ">

                            <p>Users could search for movies and view more information by clicking on a movie.</p>

                            <p>This application is built with React, Redux and React Router. Pratice with React Router.</p>

                            <p class="buttons ">

                                <a class="btn btn-primary " href="references/moviefinder">
                                    <i class="fa fa-download "></i> More details</a>
                            </p>
                        </div>

                    </div>
                </div>

                <div class="reference-item " data-category="single">
                    <div class="reference ">
                        <a href="# ">
                            <img src="img/weatherapp1.jpg " class="img-responsive " alt=" " />

                            <div class="overlay ">
                                <h3 class="reference-title ">Weather App</h3>
                                <p>User could search for weather data with this app.</p>
                            </div>
                        </a>

                        <div class="sr-only reference-description " data-images="img/weatherapp1.jpg ">

                            <p>The application is built with React and Redux. OpenWeatherMap API is used to fetch weather data.</p>

                            <p>Pratice with React promise middleware in the app.</p>

                            <p class="buttons ">
                                <a class="btn btn-primary " href="references/weatherapp">
                                    <i class="fa fa-download "></i> More details</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="reference-item " data-category="single">
                    <div class="reference ">
                        <a href="# ">
                            <img src="img/vstda.jpg " class="img-responsive " alt=" " />

                            <div class="overlay ">
                                <h3 class="reference-title ">Simple To Do List</h3>
                                <p>Users could enter their todo items and prioritze them based on their importance.</p>
                            </div>
                        </a>

                        <div class="sr-only reference-description " data-images="img/vstda.jpg ">

                            <p>The app is built on React.</p>

                            <p>Good practice to use React to build app.</p>

                            <p class="buttons ">
                                <a class="btn btn-primary " href="references/vstda">
                                    <i class="fa fa-download "></i> More details</a>
                            </p>

                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>

</div>