<!DOCTYPE html>

<html class="no-js">
<% include ../../partials/projects/head %>

    <body data-spy="scroll" data-target="#navigation" data-offset="120">
        <% var active = 'vstda'; %>
            <% include ../../partials/projects/work_navbar %>
                <main class="project-page">
                    <div class='container'>
                        <div class="row">
                            <hr />
                            <div class="col-md-12 col-lg-8">
                                <h2>Simple Todo List</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <img src="../img/projects/vstda/vstda2.png" class="project-img img-responsive " alt="vstda" />
                                <img src="../img/projects/vstda/vstda1.png " class="project-img img-responsive " alt="vstda" />

                            </div>
                            <div class="col-sm-7">
                                <div>
                                    <h4>Summary</h4>
                                    <p>You could add todo lists with priority. The todo list could be edited or deleted.</p>
                                </div>
                                <hr />
                                <div>
                                    <h4>Build with</h4>
                                    <p>React, webpack, Nodejs, Bootstrap v4 and css.
                                    </p>
                                </div>
                                <hr />
                                <div>
                                    <h4>What I learned from that?</h4>
                                    <p>This project took me one week to finish. It is called Simple Todo List. However, it is
                                        not simple at all, an intense practice for handling events. It hepled me to understand
                                        React better.
                                    </p>
                                </div>
                                <hr />
                                <div>
                                    <p class="buttons ">
                                        <a class="btn btn-primary " href="https://yf-vstda.herokuapp.com/ ">
                                            <i class="fa fa-globe "></i> Check the App</a>
                                        <a class="btn btn-primary " href="https://github.com/bluemoon711/startnow-react100-vstda ">
                                            <i class="fa fa-download "></i> More details</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                </main>
                <% include ../../partials/projects/script %>
    </body>

</html>